*, *::before, *::after {
    box-sizing: border-box;
}

:root {
  --primary-color: #ffd230;
  --secondary-color: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
    /* keep footer at bottom (along with footer css styling ) */
    /* position: relative;
    min-height: 100vh; */
}

header {
    text-align: center;
    padding:0;
    padding-top: 2em;
    padding-bottom: .5em;
    background: var(--secondary-color);
    color: var(--primary-color);
    /* border-radius: 25px; */
    width: 100%;
}

header > h1 {
    margin-top: 0;
}

nav > ul {
    display: flex;
    padding: 1em;
    list-style: none;
    justify-content: space-between;
}

nav > ul > li {
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 1em;
    border-radius: 25px;
    cursor: pointer;
}

nav > ul > li:first-child {
    margin-left: 3em;
}

nav > ul > li:last-child {
    margin-right: 3em;
}

section {
    margin: 2em;

}

.form-container {
    border: 1px solid black;
    border-radius: 25px;

}

.form-item{
    font-size: 1rem;
    display: inline-flex;
    width: fit-content;
    margin: .5em;
    padding: .5em;
}
.add-game-button {
    font-size: 1rem;
    background: var(--secondary-color);
    color: var(--primary-color);
    margin: 1em ;
    padding: .5em 1.5em;
    display: block;
    border-radius: 25px;
    border: 0;
    outline: none;
}

label {
    margin-right: .5em;
    font-weight: bold;
}

.game-owned-yes, .game-owned-no {
    font-weight: normal;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    border: 1px solid black;
    border-radius: 25px;
    list-style: none;
}

.game-list > li {
    background: var(--primary-color);
    /* border: 1px solid grey; */
    border-radius: 25px;
    padding: 1em;
    margin: 1em;
}

.disabled {
    cursor:not-allowed;
    opacity: .3;
}