*, *::before, *::after {
    box-sizing: border-box;
}

:root {
  --primary-color: #ffd230;
  --secondary-color: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
    padding:0;
    padding-top: 2em;
    padding-bottom: .5em;
    background: var(--secondary-color);
    color: var(--primary-color);
    width: 100%;
    justify-content: center;
}

header > h1 {
    margin-top: 0;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    list-style: none;
    justify-content:space-evenly;
}

nav > ul > li {
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 1em;
    border-radius: 25px;
    cursor: pointer;
    max-width: 1200px;
}


nav > ul > li:first-child {
    margin-left: 3em;
    background-image: url("./images/Pacman.png");
    background-size:contain;
    background-position: left;
    background-repeat: no-repeat;
}

nav > ul > li:last-child {
    margin-right: 3em;
}

section {
    margin: 2em;
}

.form-container {
    border: 1px solid black;
    border-radius: 25px;
    width: 100%;
    min-width: fit-content;
}

.form-item{
    font-size: 1rem;
    display: inline-flex;
    width: fit-content;
    margin: .5em;
    padding: .5em;
    border: 1px solid var(--primary-color);
    border-radius: 25px;;
}
.add-game-button {
    font-size: 1rem;
    background: var(--secondary-color);
    color: var(--primary-color);
    margin: 1em ;
    padding: .5em 1.5em;
    display: block;
    border-radius: 25px;
    border: 0;
    outline: none;
    cursor: pointer;
}

label {
    margin-right: .5em;
    font-weight: bold;
}

.game-owned-yes, .game-owned-no {
    font-weight: normal;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 25px;
    list-style: none;
    min-width: fit-content;
}

.game-list > li {
    background: linear-gradient(45deg, rgba(255,210,48,1) 0%, rgba(255,210,48,1) 60%, rgb(216, 154, 18) 100%);
    border: 5px solid black;
    border-radius: 25px;
    padding: 1em;
    margin: 1em;
    min-width: fit-content;
    padding-top:0;
}

.game-list > li > * {
    margin: .3em 0 0 0;
}

.disabled {
    cursor:not-allowed;
    opacity: .3;
}

.enabled {
    background: greenyellow;
    transition: ease-in 0.5s;
}

#title, #format, #release-date{
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    outline: none;
    padding: 0 1em;

}


.delete-button:not(.disabled):hover, .reset-button:not(.disabled):hover{
  background: red;
  transition: ease-in 0.5s;
}
